@page "/loginfailed"

<div class="row">
    <div class="col-md-4">
        <section>
            <div class="card text-white bg-danger mb-auto">
                <div class="card-body">
                    <h5 class="card-title">Login failed</h5>
                    <p class="card-text text-white">It looks like you aren't Jane and you didn't use 'password' to authenticate yourself.</p>
                </div>
            </div>
        </section>
    </div>
</div>